<div class="layout-topbar topbar-arm">
  <div class="topbar-width-arm">
    <a href="/" class="logo-container">
      <img class="logo" alt="harmony-layout" src="assets/img/logoIndexarm.svg" />
    </a>
    <div class="topbar-content text-right">
      <div class="grid mt-2">
        <div class="col-7"></div>
        <div class="col-2 text-center">
          <a href="javascript;" pButton label="Support us" class="p-button arm-button-primary"></a>
        </div>
        <div class="col-1 text-center">
          <a href="javascript;" pButton icon="pi pi-github" class="p-button p-button-rounded arm-button-primary"></a>
        </div>
        <div class="col-2">
          <a href="javascript;" pButton label="Documentation" class="p-button arm-button-secundary"></a>
        </div>
      </div>
    </div>
  </div>
</div>
