<div>
  <div class="m-auto text-center" style="width: 700px">
    <h2>Javascript library for detecting <strong class="font-bold">errors</strong> in the writing of use cases written in a symbol language </h2>
  </div>
  <div class="shadow-2 m-auto mt-8 p-3" style="width: 600px; background: #E7ECEF; border-radius: 50px">
    <div class="grid mt-1">
      <div class="col text-center">
        <i class="pi pi-check-circle text-green-500 mr-2"></i> <strong> Interpret </strong>
      </div>
      <div class="col text-center">
        <i class="pi pi-check-circle text-green-500 mr-2"></i> <strong>Class diagram</strong>
      </div>
      <div class="col text-center">
        <i class="pi pi-check-circle text-green-500 mr-2"></i> <strong>Use case</strong>
      </div>
      <div class="col text-center">
        <i class="pi pi-check-circle text-green-500 mr-2"></i> <strong>Modeling</strong>
      </div>
    </div>
  </div>
  <div class="text-center mt-8 relative">
    <div class="arm-center-vh">
      <button pButton label="Live Compiler" class="p-4 arm-button-primary-demo" routerLink="/compiler"></button>
      <button pButton label="Read the documentation" class="mt-3 p-4 arm-button-secundary-demo"></button>
    </div>
    <img class="border-3" src="assets/img/dashboard.png" alt="" width="1140" style="border-radius: 15px">
  </div>
</div>
